.jolieliste{
    height: 400px;
    margin-top:20%;
    overflow: auto;
}
.textig{
    text-indent: 38%;
}
.c{
    text-align:center;
}
@media all and ( max-width:780px){
    .jolieliste{
        height: 228px;
        margin-top: 0;
        overflow: auto;
    }
    .textig{
        text-indent: 46%;
    }
    
}